body {
    font-size: 1.2em;
    background-color: orangered;
    margin-top: 35px;
  }
  #container {
      max-width: 80%;
      margin: 0 auto;
      text-align: center;
      border-radius: 10px;
      padding: 10px;
      background-color: white;
          
  }
  .panel-1 {
      max-width: 100%;
      padding: 10px;
      border: 0.5px solid gray;
  }
  .panel-2 {
      margin: 0;
      padding: 0;
      text-align: left;
  }
  #computer {
      border-radius: 10px;
      width: 100%;
      height: 2.5em;
      text-align: left;
  }
  h1{
    font-weight: bold;
    text-align: center;
  }